.login-ui .login-dialog .logo {
        background-image: url('app/ext/tempnamespace/images/logo-placeholder.png');
	width: 9em;
	-webkit-background-size: 9em auto;
}
div.login-ui {
	background: #ADB3B8;
	background-color: #ADB3B8;
}
.login-ui .login-dialog {
	background-color: white;
}
